/* CSS Document */

body{
	background-repeat: repeat;
	background-image: url(images/blinds-close-up-dark-586417.jpg);
	background-size: 99% auto;
	color: whitesmoke;
}

h1{
}

#name {
	
}

#s-posti {
	
}

#paivamaara {

}

#sisalto {
	
}

.lista{
background: #969696	
}
